doctype html
html
	head
		link(rel="stylesheet" href="/stylesheets/main.css")
		script(src="http://localhost:3001/socket.io/socket.io.js")

	body
		canvas(id="gc")
		script(src="/javascripts/pacman.js")
	Hi

