doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-sclae=1")
		title Profile
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet")
		style
		script(type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js")
		script(type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
		script(type="text/javascript")

	body
		div(class="container")
			::before
			div(class="row")
				::before
				div(class="col=sm-2 col-md-2")
					img(class="img-rounder img-responsive" src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg" alt="")
				div(class="col-sm-4 col-md-4")
					blockquote
						::before
						p Bruce Wayne
						small
							::before
							cite(title="Score")
								50

						::after

					p
						i(class="glyphicon glyphicon-envelope")
							::before
						masterwayve@baman.com
						br
				::after
			::after					

